<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Login - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../templ/img/favicon.png" rel="icon">
  <link href="../templ/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../templ/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../templ/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../templ/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../templ/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../templ/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../templ/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../templ/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../templ/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">ADMIN LOGIN</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small"></p>
                    <span id="errorMsg" style="color:red">
                  {{#if pwIncorrect}}
                  {{pwIncorrect}}
                  {{/if}}
                  {{#if msg}}
                  {{msg}}
                  {{/if}}
                </span>
                  </div>

                  <form class="g-3" id="adminloginform" action="/admin/adminlogin" method="post">
                    <div class="col-12">
                      <label for="username" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" id="username" class="form-control">
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="password">
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div id="errorMsg" style="color: red;"></div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../templ/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../templ/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../templ/vendor/chart.js/chart.umd.js"></script>
  <script src="../templ/vendor/echarts/echarts.min.js"></script>
  <script src="../templ/vendor/quill/quill.js"></script>
  <script src="../templ/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../templ/vendor/tinymce/tinymce.min.js"></script>
  <script src="../templ/js/main.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      function adminValidateForm(event) {
        
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const errorMsg = document.getElementById('errorMsg');
        if (!username) {
          errorMsg.textContent = "Username Required";
          event.preventDefault();
          return false;
        }
        if (!password) {
          errorMsg.textContent = "Password Required";
          event.preventDefault();
          return false;
        }
        return true;
      }

      document.getElementById('adminloginform').addEventListener('submit', adminValidateForm);
    });
  </script>
</body>

</html>
