<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../templ/img/favicon.png" rel="icon">
  <link href="../templ/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../templ/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../templ/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../templ/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../templ/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../templ/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../templ/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../templ/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../templ/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>




  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
          <li>
            <form id="sendMailForm" action="/admin/sendmail" method="POST">
              <!-- Add any hidden fields or inputs needed for the request -->
              <a href="#" id="sendMailLink">Send Email</a>
            </form>
          </li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="card p-3">
          <div class="  me-5 ">
            <select class="form-control" id="commonFilter" style="width:200px">
              {{!-- <option value="">Filter</option> --}}
              <option value="yearly">Yearly</option>

              <option value="monthly">Monthly</option>

              <option value="today">Today</option>

            </select>
          </div>

        </div>

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Sales <span>| Yearly</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="totalSales">{{totalSales}}</h6>
                      {{!-- <span class="text-success small pt-1 fw-bold">12%</span> <span
                        class="text-muted small pt-2 ps-1">increase</span> --}}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Revenue <span>| Yearly</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="totalRevenue">{{totalRevenue}}</h6>
                      {{!-- <span class="text-success small pt-1 fw-bold">8%</span> <span
                        class="text-muted small pt-2 ps-1">increase</span> --}}

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Customers <span>| Yearly</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6 id="customerCount">{{customerCount}}</h6>
                      {{!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span
                        class="text-muted small pt-2 ps-1">decrease</span> --}}

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <!-- End Reports -->

            <!-- Recent Sales -->

            <!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling Products<span>| Yearly</span></h5>

                  <table class="table table-borderless" id="topSellingTable">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="../templ/img/product-1.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>$64</td>
                        <td class="fw-bold">124</td>
                        <td>$5,828</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="../templ/img/product-2.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>$46</td>
                        <td class="fw-bold">98</td>
                        <td>$4,508</td>
                      </tr>

                    </tbody>
                  </table>

                </div>

                {{!-- top sell category --}}


              </div>
            </div><!-- End Top Selling -->


            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling Category<span>| Yearly</span></h5>

                  <table class="table table-borderless" id="topSellingCategory">
                    <thead>
                      <tr>
                        <th scope="col">Category Name</th>
                        <th scope="col">Total quantity Sold</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="../templ/img/product-1.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>$64</td>
                        <td class="fw-bold">124</td>
                        <td>$5,828</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="../templ/img/product-2.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>$46</td>
                        <td class="fw-bold">98</td>
                        <td>$4,508</td>
                      </tr>

                    </tbody>
                  </table>

                </div>

                {{!-- top sell category --}}


              </div>
            </div>
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <!-- End Recent Activity -->

          <!-- Budget Report -->
          <!-- End Budget Report -->

          <!-- Website Traffic -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Total Subcategory <span>| Yearly</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>

              </script>

            </div>
          </div><!-- End Website Traffic -->

          <!-- News & Updates Traffic -->
          <!-- End News & Updates -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

  <script>


    ///my code
    // script.js

// Function to fetch and populate dashboard data
function loadDashboardData(filterValue="") {  
     fetch(`/admin/fetchDashboard?filter=${filterValue}`)  // Adjust the URL to your API endpoint
        .then(response => response.json())
        .then(data => {
            const tableBody = document.querySelector('#topSellingTable tbody');
            tableBody.innerHTML = ''; // Clear any existing content
            const cateTableBody = document.querySelector('#topSellingCategory tbody');
            cateTableBody.innerHTML = '';
            document.getElementById('totalSales').textContent = data.totalSales;
            document.getElementById('totalRevenue').textContent = data.totalRevenue;
            document.getElementById('customerCount').textContent = data.customerCount;

            if (data.topProducts) {
                data.topProducts.forEach(product => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
                        <th scope="row"><a href="#"><img src="/${product.image}" alt="${product.productName}" style="width: 50px; height: auto;"></a></th>
                        <td><a href="#" class="text-primary fw-bold">${product.productName}</a></td>
                        <td>${product.price}</td>
                        <td class="fw-bold">${product.totalSold}</td>
                        <td>${product.totalRevenue}</td>
                    `;

                    tableBody.appendChild(row);
                });
            }

            if (data.topCategories) {
                data.topCategories.forEach(category => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
                        <td><a href="#" class="text-primary fw-bold">${category.categoryName}</a></td>
                        <td class="fw-bold">${category.totalSold}</td>
                    `;

                    cateTableBody.appendChild(row);
                });
            }

            if (data.ok) {
                // Extracting data from the API response
                const salesData = data.productData ? JSON.parse(data.productData) : [];
                const revenueData = data.totalRevenue ? JSON.parse(data.totalRevenue) : [];
                const subCategoryData = data.subCategoryData ? JSON.parse(data.subCategoryData) : [];
               const topSubCategories = typeof data.topSubCategories === 'string' 
                ? JSON.parse(data.topSubCategories) 
                : data.topSubCategories;

            if (Array.isArray(topSubCategories)) {
                const chartData = topSubCategories.map(item => ({
                    value: item.totalSold,
                    name: item.subCategoryName
                }));
                // Initialize ECharts
                const chart = echarts.init(document.querySelector("#trafficChart"));

                chart.setOption({
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        top: '5%',
                        left: 'center'
                    },
                    series: [{
                        name: 'Total Selling',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '18',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: chartData
                    }]
                });

                // Resize chart on window resize
                window.addEventListener('resize', () => {
                    chart.resize();
                });
            }
       
            } else {
                console.error("Error loading dashboard data");
            }
        })
        .catch(error => {
            console.error('Error loading dashboard data:', error);
        });
}

// Function to handle filter changes
function setupFilters() {
    const filterSelect = document.querySelector('#commonFilter'); // Adjust selector to your filter element
    filterSelect.addEventListener('change', () => {
        const filterValue = filterSelect.value;
        loadDashboardData(filterValue)
    });
}

// Event listener for page load
document.addEventListener('DOMContentLoaded', () => {
    loadDashboardData();
    setupFilters();
});


  </script>