<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand fs-2" href="#"><b>
    <span class="green-e">E</span>Bloom </b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
       {{#if isAuthenticated}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="myAccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="myAccountDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      {{else}}
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      {{/if}}
      <li class="nav-item"><input class="form-control" type="search" placeholder="Search"></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-heart"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="/yourCart"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
  </div>
</nav>
